@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fefefe;
  --foreground: #0a0a0a;

  /* Default colors */
  --color-default-white: #fefefe;
  --color-default-black: #1a1a1a;
}

:root.dark {
  --background: #0a0a0a;
  --foreground: #fefefe;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
